# .NET 6
bin/
obj/
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.log
*.vscode/
*.vs/
/appsettings.json
/appsettings.Development.json
*.userprefs
.idea/
*.suo
*.cache
*_i.c
*_p.c
*.ilk
*.ncb
*.log
*.iobj
*.dbmdl
*.pch
*.sdf
*.opensdf
*.cachefile
*.vc.db
*.scc
thumbs.db
*.pdb
*.mdb
*.opendb
*.VC.opendb

